.tooltip[data-tooltip]:hover:before {
  font-size: 11px;
  display: inline-block;
}

.tooltip[data-tooltip]:hover:after {
  display: inline-block;
}

.tooltip[data-tooltip]:before {
  content: attr(data-tooltip);
  position: absolute;
  left: 50%;
  top: -18px;
  z-index: 10000;
  display: none;
  padding: 5px 8px;
  transform: translateX(-50%);
  color: #fff;
  background-color: #1c1c25;
  background-color: var(--tooltip-background-color);
  font-size: 1px;
  line-height: initial;
  user-select: none;
  pointer-events: none;
  white-space: nowrap;
  box-shadow: 0 4px 20px 0 rgba(25,25,34,.24);
  box-shadow: var(--popper-shadow);
}

.tooltip[data-tooltip]:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 5px;
  display: none;
  width: 0;
  height: 0;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--tooltip-background-color);
}

.tooltip::before,
.tooltip::after {
  animation: tooltip 0.25s ease;
  animation-fill-mode: forwards;
}

@keyframes tooltip {
  0% {
    opacity: 0;
    margin-top: 0;
  }
  100% {
    opacity: 1;
    margin-top: -17px;
  }
}