.spotlight {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.spotlight:first-child {
  padding-top: 0;
}

.album-art {
  width: 150px;
  height: 150px;
}

.album-art:hover.album-art::before {
  opacity: 0.3;
}

.picture {
  box-shadow: 0 1px 6px rgba(25,25,34,.16);
}

.spotlight-content {
  margin-left: 20px;
}

.spotlight-head {
  display: flex;
}

.spotlight .svg-icon-btn.is-highlight {
  align-items: center;
  background: rgba(23, 23, 23, 0.9);
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  height: 42px;
  justify-content: center;
  line-height: 42px;
  text-align: center;
  vertical-align: top;
  width: 42px;
  transition-duration: .15s;
  transition-property: opacity;
}

.spotlight .svg-icon-btn.is-highlight:hover {
  opacity: 0.9;
}

.spotlight-heading {
  margin-left: 20px;
}

.spotlight-heading h1 {
  line-height: 1.4;
  color: #32323d;
  transition: color 0.15s;
}

.spotlight-heading h1:hover {
  color: #4fa6d3;
}

.spotlight-heading h2 {
  font-size: 14px;
  color: #9a9a9a;
}

.spotlight-heading .author {
  color: #4fa6d3;
}

.spotlight-actions {
  display: flex;
  margin-top: 45px;
}